.login-box{
    font-family: 'Roboto', sans-serif;
    background-color:  #f8f8ff;
    max-width: 600px;
    text-align: center;
    padding: 0px;
    align-items: center;
    border-top: 3px solid darken(#228B22, 2%);
    font-weight: 0;
    width: 400px;
}

.email{
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-bottom: 10px;
    padding-bottom: 35px;
}

.email > h3 {
    position: absolute;
    left: 32px;
    top: 73px
}

.email > input{
    border: 1px solid grey;
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.5);
    margin-bottom: 20px;
    height: 30px;
    width: 330px;
}

.password{
    display: absolute;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-bottom: 10px;
    align-content: space-between;
}

.password > input{
    position: relative;
    border: 1px solid grey;
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.5);
    height: 30px;
    border-radius: 0.005px;
    width: 330px;


}
.password > h3 {
    position: absolute;
    left: 32px;
    top: 172px;
}

.remember-me {
    display: flex;
    padding-top: 15px;
    padding-bottom: 25px;
    justify-content: center;
}

.remember-me > label{
    padding-left: 9.5px;
    font-size: 20px;
}

.boxcheck{
    -webkit-appearance: none;
	background-color: white;
	border: 2px solid black;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 1px;
	display: inline-block;
	position: relative;
    height: 4px;
    width: 4px;
}

.boxcheck:checked:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: black;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}


.button{
    background-color: #228B22;
    border: none;
    padding-top: 15px;
    border-bottom: .3rem solid darken(#228B22, 10%);
    border-right: .3rem solid darken(#228B22, 10%);
    border-left: .12rem solid darken(#228B22, 10%);
    border-top: .12rem solid darken(#228B22, 10%);
    color: white;
    font-weight: 800;
    font-family: 'Roboto';
    padding-top: 10px;
    width: 370px;
    font-size: 24px;
    cursor: pointer;
}


.button:disabled{
    opacity: .5;
}

.button:active{
    opacity: .6;
}

