@import './components/formheader';
@import './components/formfooter';
@import './components/form';


body {
    background-color: gray;
    position: absolute;
    transform:translateX(175%) translateY(10%);
}