@import './components/formheader';
@import './components/formfooter';
@import './components/form';


body {
    background-color: gray;
}

.login_box{
    position: absolute;
    left: -300px;
    top: 40px
}